.tabs-container {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.tab-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f3f4f6;
    border: 1px solid #e5e7eb;
    cursor: pointer;
    transition: background-color 0.5s;
    align-items: center;
    margin: 0 4px; 
    display: flex; 
    justify-content: center; 
    gap: 8px; 
}

.tab-button:first-child {
    border-radius: 8px 0px 0px 8px; 
}

.tab-button:last-child {
    border-radius: 0px 8px 8px 0px;
}

.tab-button.active {
    background-color: #3b82f6;
    color: white;
    border-color: #3b82f6;
}

